<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:replace="assets/topbar :: setContent('')"></div>
<main class="container mx-auto mt-8">
    <!-- 글 작성 폼 -->
    <div class="bg-white shadow-md rounded p-6">
        <form th:action="@{/board/register}" method="post">
            <input type="hidden" name="page" th:value="${requestDTO.page}">
            <input type="hidden" name="type" th:value="${requestDTO.type}">
            <input type="hidden" name="keyword" th:value="${requestDTO.keyword}">
            <input type="hidden" name="category" th:value="${requestDTO.category}">
            <input type="hidden" name="allNotice" value="false">
            <input type="hidden" name="departmentNotice" value="false">
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="title">제목</label>
                <input type="text" name = "title" id="title" class="w-full border rounded p-2" placeholder="제목을 입력하세요.">
            </div>

            <div class="mb-4" th:if="${loginDTO.Role} == 'MANAGER'">
                <label class="block text-gray-700 font-bold mb-2" for="isNotice">공지 여부</label>
                <div class="flex items-center">
                    <input type="checkbox" name="departmentNotice" id="isNotice" class="mr-2" value="true"
                           onchange="document.querySelector('input[name=departmentNotice][type=hidden]').disabled = this.checked;">
                    <label for="isNotice" class="text-gray-600">이 글을 공지로 등록합니다.</label>
                </div>
            </div>


            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="major">게시판</label>
                <select name="boardMajor" id="major" class="w-full border rounded p-2" required>
                    <!-- 기본 옵션 -->
                    <option value="" disabled
                            th:selected="${pageRequestDTO.category == null}">게시판을 선택하세요</option>

                    <!-- 동적으로 생성된 옵션 -->
                    <option th:each="dto : ${dtoList}"
                            th:value="${dto.name}"
                            th:text="${dto.name}"
                            th:selected="${dto.name == pageRequestDTO.category}"></option>
                </select>
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="content">내용</label>
                <textarea name="content" id="content" class="w-full border rounded p-2" rows="5" placeholder="내용을 입력하세요."></textarea>
            </div>
            <button type="submit" class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">
                작성하기
            </button>
        </form>
    </div>

    <!-- 뒤로가기 버튼 -->
    <div class="text-right mt-4">
        <a th:href="@{/board/list(page=${pageRequestDTO.page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword}, category=${pageRequestDTO.category})}" class="bg-gray-300 text-gray-700 py-2 px-4 rounded hover:bg-gray-400">목록으로</a>
    </div>
</main>
</html>
