<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:replace="assets/topbar :: setContent('')"></div>
<main class="container mx-auto mt-8">
    <div class="bg-white shadow-md rounded p-6">
        <h2 class="text-2xl font-bold text-center mb-4">로그인</h2>
        <form th:action="@{/user/login}" method="post">
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="userEmail">이메일</label>
                <input type="email" id="userEmail" name="username" class="w-full border rounded p-2" placeholder="이메일을 입력하세요" required>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="password">비밀번호</label>
                <input type="password" id="password" name="password" class="w-full border rounded p-2" placeholder="비밀번호를 입력하세요" required>
                <p id="loginErrorMSG" class="text-red-600 text-sm" th:if="${param.error}"></p>
            </div>
            <button type="submit" class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700 w-full">
                로그인
            </button>
        </form>
        <p class="text-center text-gray-600 mt-4">
            계정이 없으신가요? <a th:href="@{/user/register}" class="text-blue-600 hover:underline">회원가입</a>
        </p>
    </div>
    <!-- error 메시지 전달 -->
    <input type="hidden" th:if="${param.error}" th:value="'아이디 또는 비밀번호가 틀렸습니다.'" id="loginError">
</main>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const loginError = document.getElementById("loginError");
        if (loginError && loginError.value) {
            const loginErrorMSG = document.getElementById("loginErrorMSG");
            console.log(loginError.val)
            loginErrorMSG.textContent = loginError.value;
        }
    });
</script>
</html>
